html {
    position: relative;
}

.about {
    height: 500px;
}

.jumbotron {
    height: auto;
    background-image: url(../img/thumbs/4.png);
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

.jumbotron img {
    width: 18%;
}

.jumbotron h1,
.jumbotron p {
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

section {
    min-height: 350px;
}

footer {
    min-height: 50px;
    padding-top: 12px;
}

hr {
    width: 25%;
    border-top: 3px solid #999;
}

.kiri,
.kanan {
    opacity: 0;
    transform: translate(-50px, 0);
    transition: 1.2s;
}

.kanan {
    transform: translate(50px, 0);
}

.kiri-go,
.kanan-go {
    opacity: 1;
    transform: translate(0, 0);
}

.portfolio {
    background-color: #eee;
}

.portfolio .thumbnail {
    opacity: 0;
    transform: translate(0, -40px);
    transition: .3s;
}

.portfolio .thumbnail.muncul {
    opacity: 1;
    transform: translate(0, 0);
}